front/prepros-6.config
front/node_modules/

front/assets/vendor/bootstrap-4.3.1/

front/assets/vendor/fancybox-master/

front/assets/vendor/fontawesome-free-5.11.2-web/js/
front/assets/vendor/fontawesome-free-5.11.2-web/less/
front/assets/vendor/fontawesome-free-5.11.2-web/metadata/
front/assets/vendor/fontawesome-free-5.11.2-web/scss/
front/assets/vendor/fontawesome-free-5.11.2-web/sprites/
front/assets/vendor/fontawesome-free-5.11.2-web/svgs/

!front/assets/vendor/fontawesome-free-5.11.2-web/css/
front/assets/vendor/fontawesome-free-5.11.2-web/css/*
!front/assets/vendor/fontawesome-free-5.11.2-web/css/all.css


